@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f3f3f3;
  color: #18181b;
}

.dark body {
  background-color: #09090b;
  color: #fafafa;
}
